body {
    display: grid;
    grid-row: auto;
    background-color: #F3F3F3;
    min-height: 100vh;
    width: 100%;
    gap: 30px;
}

header {
    position: relative;
    background-color: rgb(201, 174, 40);
    min-height: 140px;
}

a {
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    transform: scale(1.10);
}

li {
    list-style-type: none;
}

.logo {
    text-shadow: #000000;
    font-size: 30px;
}

.ordem-header {
    display: grid;
    height: 100%;
}

.primeiro-header {
    display: grid;
    width: 100%;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

button {
    padding: 10px;
    text-align: center;
    cursor: default;
    transition: all 0.5 ease;
}

button:hover {
    background-color: rgb(149, 169, 219);
    transform: scale(1.05);
}

footer {
    margin-top: auto;
    background-color: rgb(201, 174, 40);
    align-items: center;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.align {
    display: grid;
    place-items: center;
}

.align-text {
    text-align: center;
}

section {
    display: grid;
    grid-row: auto;
    gap: 20px
}


#btt-login {
    width: 60%;
    border: transparent;
    width: 90%;
    padding: 0;
    text-align: start;

}

#labelbtt-login {
    display: grid;
    text-align: end;
    align-items: center;
    width: 100%;
}

input {
    border: transparent;
    background-color: #CECECE;
    padding: 5px;
    border-radius: 5px;
}

select {
    border: transparent;
    padding: 5px;
    background-color: #CECECE;
    border-radius: 5px;
}

.section-Titulo {
    display: flex;
    grid-template-columns: 60% 40%;
    justify-content: space-between;
    width: 60%;
}

.Titulo-login {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.section-template {
    display: grid;
    grid-row: auto;
    width: 70%;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.submit-btt {
    padding: 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.submit-btt:hover {
    transform: scale(1.10);
}

.formulario {
    display: grid;
    width: 95%;
    height: 100%;
    gap: 20px;

}

.align-self {
    justify-self: center;
    align-self: center;

}

.ordem-formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.justify {
    text-align: justify;
}

fieldset {
    border: transparent;
}

.centerY {
    justify-items: center;
}

.centerX {
    align-items: center;
}

.blue-color {
    background-color: #264653;
}

.green-color {
    background-color: #549b71;
}

.yellow-color {
    background-color: #e9c46a;
}

.orange-color {
    background-color: #f4a261;
}

.red-color {
    background-color: #e76f51;
}