body {
    display: grid;
    min-height: 100vh;
    width: 100%;
    background-color: #F8F3EA;
    grid-template-rows: 20% 80% 20%;
    gap: 20px;
}

header {
    position: relative;
    width: 100%;
    background-color: rgb(201, 174, 40);

}

.ordem-header {
    display: grid;
    align-items: center;
    grid-template-areas:
        "primeira-header"
        "segunda-header";
    gap: 20px;
}

.primeiro-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.perfil-button {
    display: grid;
    width: 50%;

}

.segunda-header {
    background-color: antiquewhite;
}

.ordem-template-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 50%;
}

.header-button {
    padding: 10px;
    text-align: justify;
    cursor: default;
    transition: all 0.5 ease;
}

button:hover {
    background-color: rgb(149, 169, 219);
    transform: scale(1.05);
}

footer {
    width: 100%;
    background-color: rgb(201, 174, 40);
    align-items: center;
}

.ordem-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
}

.align {
    display: grid;
    place-items: center;
}

.align-text {
    text-align: center;
}

section {
    width: 100%;
}

.ordem-section {
    grid-template-areas:
        "search-bar"
        "box-criartopico"
        "topicos-forum";
    gap: 20px;
    align-items: center;
}