body {
    display: grid;
    grid-row: auto;
    background-color: #F8F3EA;
    min-height: 100vh;
    width: 100%;
    gap: 20px;
}

header {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 150px;
}

.ordem-header {
    display: grid;
    grid-template-rows: 60% 40%;
    height: 100%;
}

.primeiro-header {
    display: grid;
    width: 100%;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.ordem-perfil-button {
    display: grid;
    align-items: center;
    justify-content: end;
    grid-row: auto;
    width: 90%;
}

.perfil-button {
    width: 110px;
    height: 40px;
}

.segunda-header {
    background-color: antiquewhite;
}

.ordem-template-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 50%;
}

button {
    padding: 10px;
    text-align: center;
    cursor: default;
    transition: all 0.5 ease;
}

button:hover {
    background-color: rgb(149, 169, 219);
    transform: scale(1.05);
}

footer {
    margin-top: auto;
    background-color: rgb(201, 174, 40);
    padding: 20px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.align {
    display: grid;
    place-items: center;
}

.align-text {
    text-align: center;
}

section {
    row-gap: 20px;
}

.search-bar {
    background-color: #ede5e1;
    width: 80%;
    padding: 12px;
    border-radius: 90px;

    display: grid;
    grid-template-columns: 90% 10%;
}

.section-template {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 90%;
    background-color: rgb(202, 202, 155);
    padding: 20px;
    border-radius: 10px;
}

.ordem-texto {
    display: grid;
    grid-template-rows: 30% 70%;
    gap: 10px;
    height: 80%;
}

#img-section-template {
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

.justify {
    text-align: justify;
}

#fpesquisa {
    border: transparent;
    background-color: transparent;
    width: 95%;
    padding: 5px;

}

.carrossel {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
    width: 90%;
    height: 300px;
}

.box-anuncio {
    background-color: blue;
    width: 95%;
    height: 100%;
    border-radius: 10px;

}

.section-text-box {
    background-color: rgb(133, 133, 117);
    width: 90%;
    height: 200px;
}

fieldset {
    border: transparent;
}

.centerY {
    justify-items: center;
}