body {
    display: grid;
    min-height: 100vh;
    width: 100%;
    background-color: #F8F3EA;
    grid-template-rows: 20% 80% 20%;
    gap: 20px;
}

header {
    position: relative;
    width: 100%;
    background-color: rgb(201, 174, 40);

}

.ordem-header {
    display: grid;
    grid-template-areas:
        "primeira-header"
        "segunda-header";
    gap: 20px;
    height: 90%;
    grid-template-rows: 70% 30%;
}

.primeiro-header {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.ordem-perfil-button {
    display: grid;
    align-items: center;
    justify-content: end;
    width: 90%;
}

.perfil-button {
    width: 110px;
    height: 40px;
}

.segunda-header {
    background-color: antiquewhite;
}

.ordem-template-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 50%;
}

button {
    padding: 10px;
    text-align: center;
    cursor: default;
    transition: all 0.5 ease;
}

button:hover {
    background-color: rgb(149, 169, 219);
    transform: scale(1.05);
}

footer {
    width: 100%;
    background-color: rgb(201, 174, 40);
    align-items: center;
}

.ordem-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.align {
    display: grid;
    place-items: center;
}

.align-text {
    text-align: center;
}

section {
    display: grid;
    grid-template-rows: 30% 70%;
    gap: 20px
}

.ordem-section {
    display: grid;
    grid-template-rows: 20% 80%;
    gap: 20px;
}

.search-bar {
    background-color: #ede5e1;
    width: 80%;
    padding: 12px;
    border-radius: 90px;
    margin: 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 90% 10%;
}

#fpesquisa {
    border: transparent;
    background-color: transparent;
    width: 95%;
    padding: 5px;

}

fieldset {
    border: transparent;
}